.buttonCantainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    height: 40px;
    width: 45px;
    margin: 5px;
    font-size: 20px;
    background-color: aqua;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }